#foil{
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 150, 136) 15% , rgb(221, 219, 210) 15% ) ;
    padding: 20px 10px ;

}
#all{
    margin: 20px;
    width: 1600px;
    height: 100%;
    background-color: rgb(234, 234, 234);
}
#aside{
    height: 100%;
    width: 35%;
    box-shadow: 8px 0px 10px -6px rgba(0, 0, 0, 0.144);
    z-index: 2;
}
#main{
    /* background-color: rgb(166, 117, 211); */
    height: 100%;
    width: 65%;
}

#try{
    width: 200px;
    height: 200px;
    background-color: black;
}

img{
    height: 70%;
    border-radius: 50%;
}

.custom{
    margin-right: 20px;
}

#smile{
    margin-left: 25px;
}

#input{
    width: 100%;
    height: 70%;
    border: 0px solid ;
    border-radius: 5px;
    padding: 8px;
    outline: none; /*rimuove l'outline degli input*/
}

#rec{
    margin-right: 30px;
}

.constrictor{
    height: 80px;
}

.c1{
    padding: 20px;
}

.c2{
    padding: 6px 10px;
}

.constrictor2{
    height: 70px;
}

.iconscolor{
    color: gray;
    font-size: x-large;
}


/* chatbox and messages */
#chatbox{
    height: calc(100% - 150px);    
    width: 100%;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}
.sent1{
    padding: 5px 20px;
    display: flex;
    justify-content: end;
}
.sent{
    position: relative;
    display: flex;
    background-color: #D5F9BA;
    max-width: 60%;
    padding: 8px 10px 20px 10px;
    border-radius: 5px 0px 5px 5px;
    margin-right: 80px;
    cursor: context-menu;
}
.received1{ 
    padding: 20px;
    display: flex;
    justify-content: start;
}
.received{
    position: relative;
    display: flex;
    background-color: #ffffff;
    max-width: 60%;
    padding: 8px 10px 20px 10px;
    border-radius: 0px 5px 5px 5px;
    margin-left: 80px;
}
.hour{
    position: absolute;
    bottom: 3px;
    right: 16px;
    font-size: 9px;
    font-style: oblique;
    font-weight: 700;
    align-self: flex-end;
    margin-right: -10px;
    color: rgba(0, 0, 0, 0.500);
}
.sentt{
    position: absolute;
    top: -6px;
    right: -4px;
    transform: rotate(90deg);
    color: #D5F9BA;
}
.receivedt{
    position: absolute;
    top: -6px;
    left: -4px;
    transform: rotate(90deg);
    color: #ffffff;
}

.dropdown{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b1b1b1;
    align-self: flex-start;
    transform:translateY(-5);
    opacity: 0;
    transition: all 0.15s;
    z-index: 3;
}

.dropdowncontent{
    display: flex;
    position: absolute;
    padding: 5px 10px;
    top: 20px;
    gap: 8px;
    transform: translateX(50px);
    opacity: 0;
    transition: all 0.3s;
}

.dropdown:hover .dropdowncontent{
    transform: translateX(0px);
    opacity: 1;
    transition: all 0.3s;
}

.sent:hover .dropdown{
    transition: 0.5s ;
    transform: translateY(-5px);
    opacity: 1;
    cursor: pointer;
}
.received:hover .dropdown{
    transition: 0.5s ;
    transform: translateY(-5px);
    opacity: 1;
    cursor: pointer;
}

.bgnotif{
    background-color: #8EDAFC;
}

.bellbord{
    background-color: #ffffff;
    padding: 5px;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.clr0{
    color: #8EDAFC;
    font-size: 20px;
}

.link1{
    color: rgba(48, 48, 48, 0.555);
}
.link1:hover{
    color: #ffffff;
    transition: color 250ms;
}

#research{
    width: 100%;
    height: 35px;
    border: 2px solid rgba(0, 0, 0, 0.205);
    outline: none;
    padding: 5px;
    border-radius: 5px;
}

.search{
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 10%;
    border: 2px solid rgba(0, 0, 0, 0.205);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 5px;
}
.search:hover{
    color: rgb(0, 150, 136);
}

.lastmsgh{
    text-align: right;
    position: absolute;
    top: 3px;
    right: 12px;
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.5);
    font-style: oblique;
}

.contactsbar{
    height: calc(100% - 207px);
    overflow-y: auto;
}

.prof{
    border-top: 1px solid #cecece;

}

.prof:hover{
    cursor: pointer;
    background-color: #cecece;
    transition: all 230ms;
}

.btnsp{
    background-color: rgb(255, 255, 255);
    color: gray;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    font-size: small;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.del:hover{
    color: #961600;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: all 0.3s;
}

/* .del:hover .indel{
    
} */

.copy:hover{
    color: #004696;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: all 0.3s;
}

.share:hover{
    color: #009688;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: all 0.3s;
}