#foil{
    height: 100vh;
    background: linear-gradient(to bottom, rgb(0, 150, 136) 15% , rgb(221, 219, 210) 15% ) ;

}
#all{
    margin: 20px;
    width: 1600px;
    height: calc(100vh - 40px) ;
    background-color: rgb(234, 234, 234);
}
#aside{
    background-color: rgb(122, 206, 206);
    height: 100%;
    width: 35%;
}
#main{
    /* background-color: rgb(166, 117, 211); */
    height: 100%;
    width: 65%;
}

#try{
    width: 200px;
    height: 200px;
    background-color: black;
}

img{
    height: 70%;
    border-radius: 50%;
}

.custom{
    margin-right: 20px;
}

.constrictor{
    height: 80px;
}

.iconscolor{
    color: gray;
    font-size: x-large;
}


/* chatbox and messages */
#chatbox{
    height: 1000px;    
    width: 100%;
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}
.send{

    padding: 20px;
    display: flex;
    justify-content: end;
}
.sendmsg{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #D5F9BA;
    max-width: 50%;
    padding: 8px 16px;
    border-radius: 10px;
}
.receive{ 
    padding: 20px;
    display: flex;
    justify-content: start;
}
.receivemsg{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 50%;
    padding: 8px 16px;
    border-radius: 10px;
}
.hour{
    font-size: 9px;
    font-style: oblique;
    font-weight: 700;
    align-self: flex-end;
    margin-right: -10px;
    color: rgba(0, 0, 0, 0.500);
}
.abs{
    position: absolute;
    top: -6px;
    right: -4px;
    transform: rotate(90deg);
    color: #D5F9BA;
}
.abs2{
    position: absolute;
    top: -6px;
    left: -5px;
    transform: rotate(90deg);
    color: #ffffff;
}